In [2]:
import pandas as pd 
from tqdm import tqdm 
tqdm.pandas()

restau = pd.read_json('yelp_restaurants.json')
review = pd.read_json('yelp_review.json')
user = pd.read_json('yelp_user.json')

In [3]:
user_clean = user[['user_id','review_count','useful','cool','fans']]
review_clean = review[['review_id','stars','useful','cool','text']]
restau_clean = restau[['business_id','city']]

In [4]:
text = """coucou "machin" """
print(text)
text.replace("\"","\"\"")

coucou "machin"

'coucou ""machin"" '

In [16]:
#cleaning des string de reviews 

for text in review_clean.text.values:
    c = "\""
    if c in text:
        # print(text)
        text = text.replace(c,"\"\"")
        text = "\""+text+"\""
        # print(text)

def add_truc_text(texte):
    c = "\""
    if c in texte:
        texte = texte.replace(c,"\"\"")
    texte = "\""+texte+"\""
    return texte

review_clean['text'].progress_apply(add_truc_text)

100%|██████████| 49150/49150 [00:00<00:00, 319964.68it/s]

0        "This is the place for authentic Indian street...
1        "Food was great. But very disappointed with th...
2        "One of the few diners in North Wilmington, an...
3        "Yeah, I know what you're thinking. One Wawa s...
4        "My boyfriend and I have lived in trolley squa...
                               ...
49145    "Take out on a Saturday night around 9pm. Staf...
49146    "I loved the atmosphere! Clean place and good ...
49147    "We get takeout here pretty regularly, and hav...
49148    "Mia and her staff did an AMAZING job on my da...
49149    "Originally gave this a 4 star, but I knew I w...
Name: text, Length: 49150, dtype: object

In [6]:
friendship_dic = {} #user 1 vers user 2
friendship_dic[':START_ID'] = {}
friendship_dic[':END_ID'] = {}
id = 1
for i,r in user.iterrows():
    for friend in r['friends']:
        friendship_dic[':START_ID'][id]= r['user_id']
        friendship_dic[':END_ID'][id]= friend

        id+=1

friendship = pd.DataFrame.from_dict(friendship_dic)

In [7]:
friendship

                    :START_ID                 :END_ID
1      IpLRJY4CP3fXtlEd8Y4GFQ  y3Wtx1pOvTiqsJRkjceXiw
2      IpLRJY4CP3fXtlEd8Y4GFQ  _BcWyKQL16ndpBdggh2kNA
3      IpLRJY4CP3fXtlEd8Y4GFQ  lRRuTimITgwzoXLIM3g9qw
4      IpLRJY4CP3fXtlEd8Y4GFQ  z02XKjGqJMONH59_lUHlTQ
5      IpLRJY4CP3fXtlEd8Y4GFQ  47K1MpOBhigOvjuBcDbm7Q
...                       ...                     ...
42772  sBrBqsyzGkvAwa6sGk9q1Q  nMtldMTrGbjejbCXJEqbmQ
42773  kEC-cWeQZLLHgkVZBN-1og  iFYykW2hxVbZcbzcviZp0A
42774  kEC-cWeQZLLHgkVZBN-1og  7tqBqky6u5IrJrV_g6S2Sg
42775  NUfGzTtNM3ZX3OKq8ytpNw  88S8cjbVq7joeIjYgYDwCw
42776  4Kr8mAJnYV0Iv2fJD-wIDw  LKT4lekrbGj9FKgW0b3ajQ

[42776 rows x 2 columns]

In [8]:
write_dic = {} #user vers review
write_dic[':START_ID'] = {}
write_dic[':END_ID'] = {}
id = 1
for i,r in review.iterrows():
    write_dic[':START_ID'][id]= r['user_id']
    write_dic[':END_ID'][id]= r['review_id']
    id+=1

wrote = pd.DataFrame.from_dict(write_dic)

In [9]:
wrote

                    :START_ID                 :END_ID
1      8rrmvJ7W3ujplXuOhjE2Hg  2xlNGuN8naQTHO3_xY0lGw
2      TRFTDMJegE6DituEKBpEKQ  _Dkml_CfMMb_wWeGpFtczg
3      glO-c9FC0RaY2GyiamCQFA  EmLTCw2p9BhOwnzHFXgGaQ
4      cFaHx-FkCnzdfF8BccukIg  PlYifdeyiixRZkymbUNqVQ
5      hefsTMvc-iSBsY_Nfa8WCg  PtUd264rjqWuEzL89nf64w
...                       ...                     ...
49146  508Y2A3yYQOyGaMDUYFXQQ  nWGqiW9gSFeb4jFTw2_guA
49147  Eviotci6ld8KT8QmjfW2tw  hK_2Z2XFGz7H3Mdl-t0Ubg
49148  NBKyKmBWssn8Weq-H-sCRQ  nz-OnQGnVIyy-gs7xVSJZQ
49149  UP9dlqXxqJ2o5nfN--Fn2Q  XPrmT_RGh3t7uq9NYhcG7g
49150  FWluTtPmCfLbwneNlbUCig  tqKl99S3x2p6cNWmekW3MA

[49150 rows x 2 columns]

In [10]:
critic_dic = {} #de review à resto
critic_dic[':START_ID'] = {}
critic_dic[':END_ID'] = {}
# critic_dic['text'] = {}
id = 1
for i,r in review.iterrows():
    critic_dic[':START_ID'][id]= r['review_id']
    critic_dic[':END_ID'][id]= r['business_id']
    # critic_dic['text'][id]= r['text']
    id+=1

critics = pd.DataFrame.from_dict(critic_dic)

In [11]:
critics

                    :START_ID                 :END_ID
1      2xlNGuN8naQTHO3_xY0lGw  yDiWYpuzRxcTgSi_O4JZpQ
2      _Dkml_CfMMb_wWeGpFtczg  W6S482dRQ_9nCcLjfv8VNg
3      EmLTCw2p9BhOwnzHFXgGaQ  OlOVRlcEstxKK_6hMjy63A
4      PlYifdeyiixRZkymbUNqVQ  DAcqRGI_u8yNCcUIczfNxA
5      PtUd264rjqWuEzL89nf64w  5IFqqWJTaPNoY2ZgRlX73w
...                       ...                     ...
49146  nWGqiW9gSFeb4jFTw2_guA  tILA8ctsD_OZIcM2IfSyQA
49147  hK_2Z2XFGz7H3Mdl-t0Ubg  riwJWxj4850tGBhRahDt7g
49148  nz-OnQGnVIyy-gs7xVSJZQ  YNWEM2NVocUl6d74yRvpug
49149  XPrmT_RGh3t7uq9NYhcG7g  iWFK7U-wBR-68X0VFrSkNA
49150  tqKl99S3x2p6cNWmekW3MA  tILA8ctsD_OZIcM2IfSyQA

[49150 rows x 2 columns]

In [18]:
import json
import re

amb_list = []
for i,r in restau.iterrows():
    if r['attributes'] is not None:
        attr = r['attributes']
        if 'Ambience' in attr.keys():
            # print(attr['Ambience'])
            m = re.findall("'[a-zA-Z]*'",attr['Ambience'])
            for elt in m:
                elt = elt.replace("\'","")
                if elt not in amb_list:
                    amb_list.append(elt)

amb_list[:2]

['divey', 'hipster']

In [13]:
amb_dict = {} #user 1 vers user 2
amb_dict[':START_ID'] = {}
amb_dict[':END_ID'] = {}
id = 1
for i,r in user.iterrows():
    for friend in r['friends']:
        amb_dict[':START_ID'][id]= r['user_id']
        amb_dict[':END_ID'][id]= friend

        id+=1

ambiances = pd.DataFrame.from_dict(amb_dict)

In [14]:
friendship.to_csv('csv/friendship.csv',index=False)
wrote.to_csv('csv/wrote.csv',index=False)
critics.to_csv('csv/critics.csv',index=False)
user_clean.to_csv('csv/users.csv',index=False)
review_clean.to_csv('csv/reviews.csv',index=False)
restau_clean.to_csv('csv/restaurants.csv',index=False)